# ----- 1st Channel ------
# Chọn nền tảng chạy Bot: LINE hoặc TELEGRAM
PLATFORM=LINE

# LINE Channel
CHANNEL_ACCESS_TOKEN=xxx

# Cấu hình Telegram (Chỉ dùng nếu PLATFORM=TELEGRAM)
TELEGRAM_BOT_TOKEN=xxxx
TELEGRAM_BOT_USERNAME=xxxx

# ----- 2nd LLM ------
# Chọn nhà cung cấp: GEMINI hoặc DEEPSEEK
LLM_PROVIDER=DEEPSEEK

# Nếu chọn Gemini
API_KEY=xxxx

# Nếu chọn Deepseek
DEEPSEEK_API_KEY=xxxx
# Chọn Model của Deepseek (Mặc định là deepseek-chat)
# - deepseek-chat: Model DeepSeek-V3 thường (nhanh, rẻ, phản hồi tốt)
# - deepseek-reasoner: Model DeepSeek-R1 (có suy nghĩ chuyên sâu)
DEEPSEEK_MODEL=deepseek-chat

# ------ 3rd OTHER -----
# Nếu muốn Deepseek kết nối Internet (dùng Tavily API, free 1000 lượt/tháng)
TAVILY_API_KEY=xxxx

